body {
	background-color: rgb(66, 186, 250);
}

#items-container {
	margin: auto;
	display: flex;
	width: 600px;
	height: 600px;
	justify-content: start;
	flex-wrap: wrap;
	box-sizing: border-box;
	border: 10px solid blue;
	overflow-y: auto;
}
.upper-content {
	margin: auto;
	text-align: center;
}
.item {
	margin: 10px;
	width: 100px;
	height: 100px;
	cursor: pointer;	
}
