html * {
	font-family: 'Asap Condensed', sans-serif;
}

body {
    margin-top: 4rem;
    background-image: url(../assets/img3.png);
    background-size: 100vw 100vh;
	display: flex;
	flex-direction: row;
}
h1 {
	text-align: center;
}

.backbutton{
	position: absolute;
	top: 0;
	left: 0;	
	width: 20px;
}

#preview {
	display: flex;
	align-items: flex-start	;
	flex-direction: column;
	margin: auto;
	justify-content: center;
	width: 35vw;
	height: 80vh;
	overflow-y: auto;
	overflow-x: hidden;
	row-gap: 0px;
	background-color: white;
	border: 1px black solid;
	border-radius: 25px;
}

.main-content {
	margin: auto;
	position: relative;
	right: 5vw;
	box-sizing: border-box;
	display: flex;
	width: 35vw;
	height: 80vh;
	flex-direction: column;
	justify-content: space-around;
    border-radius: 4px;
	align-items: center;
    background-color: white;
	border: 1px black solid;
	border-radius: 25px;
}

.main-content textarea{
    height: 8vh;
	width: 16vw;
}

.main-content div{
	display: flex;
	flex-direction: column;
    margin-top: 10px;
	margin-bottom: 30px;
	align-items: center;
}

#images {
	margin: auto;
}

div label {
	text-align: center;
	margin-bottom: 5px;
}

div textarea {
	margin: auto;
}
