html *{
	font-family: 'Asap Condensed', sans-serif;
}


body {
	margin: 0;
	/* background-image: url("../assets/indexbg.jpg");
    background-size: cover; */
	overflow: hidden;
}

#account-links {
	display: flex;
	justify-content: end;
	position: relative;
	right: 35px;
	top: 30px;
}

.signup {
	position: relative;
	bottom: 40px;
	font-size: 25px;
	margin-top: 10px;
	margin-right: 25px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	transition: color 0.25s;
}

.signin {
	position: relative;
	bottom: 40px;
	font-size: 25px;
	margin-top: 10px;
	margin-right: 25px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	transition: color 0.25s;
}

.signin:hover {
	color: rgb(66, 186, 250);
}

.signup:hover {
	color: rgb(66, 186, 250);
}

.bg-img {
	position: absolute;
	z-index: -1;
	width: 100vw;
}

.main-content {
	margin-top: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo {
	display: flex;
	justify-content: start;
	position: relative;
	top: 40px;
	left: 60px;
    font-family: 'Shrikhand', cursive !important;
	color: rgb(12, 197, 12);
	text-decoration: none;
	font-size: 40px;

}

#header {
	position: relative;
	bottom: 7vh;
	color: rgb(12, 197, 12);
    font-size: 60px;
}

#subheader {
	position: relative;
	bottom: 13vh;
    font-size: 25px;
	color: white;
}

.main-buttons {
	width: inherit;
	display: flex;
	position: relative;
	bottom: 3vh;
	justify-content: space-between;
}
.main-buttons a{
    box-sizing: border-box;
    color: white;
    height: 60px;
    width: 150px;
	text-align: center;
	font-size: 20px;
    margin: 0px 40px;
	text-decoration: none;
    border-radius: 25px;
    background-color:rgb(66, 186, 250);
}

.hide{
	display: none;
}