body {
    margin-top: 17vh;
    display: flex;
    flex-direction: column;
    font-family: 'Asap Condensed', sans-serif;
}

#title {
    margin: auto;
    font-size: 40px;
}

#content {
    margin: auto;
    text-align: center;
    font-size: 20px;
}

#buy {
    height: 6vh;
    width: 8vw;
    margin: auto;
}

.images{
    border: 2px black solid;
    width: 250px;
    height: 260px;
}

#notification-button {
    position: relative;
    right: 50vw;
    min-width: 20vw;
    min-height: 20vh;
    background-color: green;
    border-radius: 50%;
}