body {
    overflow: hidden;
    background-image: url(../assets/img2.jpg);
    background-size: 100vw 100vh;
}
p {
    margin: auto;
}

.signin {
    display: flex;
    position: absolute;
    height: 5vh;
    width: 15vw;
    background-color: white;
    border: 1px solid grey;
    left: 42.5vw;
    top: 12.5vh;
    font-size: larger;

}

.form {
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin: 15vh auto;
    background-color: rgb(66, 186, 250);
    border: 1px black solid;
    border-radius: 25px;
}

#email {
    margin: 24vh auto 1vh auto;
    height: 6vh;
    width: 25vw;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: 1px black solid;

}

#password {
    margin: 1vh auto 5vh auto;
    height: 6vh;
    width: 25vw;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: 1px black solid;

}

#submit {
    margin: auto;
    height: 5vh;
    width: 7vw;
    border-radius: 10px;
    background-color: white;
    border: 1px black solid;

}